<configuration>
  <system.webServer>
    <!-- Indicate that this application is hosted by iisnode -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- If you want to enable logging of stdout and stderr for the node process -->
    <iisnode loggingEnabled="true" devErrorsEnabled="true" />

    <!-- Redirect all requests to the Node.js application -->
    <rewrite>
      <rules>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>

        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
        </rule>

        <rule name="DynamicContent" stopProcessing="true">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Set default documents for directories -->
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
        <add value="index.htm" />
        <add value="default.html" />
        <add value="default.htm" />
      </files>
    </defaultDocument>

    <!-- Enable directory browsing -->
    <directoryBrowse enabled="true" />

    <!-- Configure the application pool settings -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin"/>
        </hiddenSegments>
      </requestFiltering>
    </security>

  </system.webServer>
</configuration>
