<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Indicates that the server should pass requests to Node.js -->
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Rule to serve static content 
        <rule name="StaticContent" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" url="../client/{R:1}" />
        </rule>-->
        <!-- Rule to handle dynamic content (Node.js app) -->
        <rule name="DynamicContent" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <!-- Define environment variables -->
    <environmentVariables>
      <environmentVariable name="NODE_ENV" value="production" />
    </environmentVariables>
    <!-- Specify logging settings -->
    <iisnode loggingEnabled="true" devErrorsEnabled="true" />
  </system.webServer>
</configuration>
