<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Indicates that the server should pass requests to Node.js -->
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Redirect all requests to your main Node.js entry point -->
        <rule name="StaticContent">
          <action type="Rewrite" url="../client/{R:1}" />
        </rule>
        <rule name="DynamicContent" stopProcessing="true">
          <match url="/*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <!-- Allow hidden files such as .env to be accessed by the application -->
        <hiddenSegments>
          <remove segment="bin" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <!-- Define environment variables (if needed) -->
    <environmentVariables>
      <environmentVariable name="NODE_ENV" value="production" />
    </environmentVariables>
    <!-- Specify logging settings -->
    <iisnode loggingEnabled="true" devErrorsEnabled="true" />
  </system.webServer>
</configuration>
