<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- WebSocket support -->
    <webSocket enabled="false" />
    
    <handlers>
      <!-- Pass requests to Node.js -->
      <add name="iisnode" path="server/server.js" verb="*" modules="iisnode"/>
    </handlers>
    
    <rewrite>
      <rules>
        <!-- Rule to handle debugging requests for node-inspector -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>
        
        <!-- Serve static content from the client folder -->
        <rule name="StaticContent" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" url="/client/{R:1}" />
        </rule>
        
        <!-- All other URLs are handled by server.js -->
        <rule name="DynamicContent" stopProcessing="true">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
          </conditions>
          <action type="Rewrite" url="server/server.js"/>
        </rule>
      </rules>
    </rewrite>
    
    <security>
      <!-- 'bin' directory has no special meaning in node.js and apps can be placed in it -->
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
    
    <httpErrors existingResponse="PassThrough" />
    
    <!-- Optional: Control Node.js hosting options -->
    <!--
    <iisnode watchedFiles="web.config;server.js"/>
    -->
  </system.webServer>
</configuration>
